%h2 Покупки
%table
 - @purchases.each do |item|
  %tr
   %td= link_to item.id.to_s, admin_purchase_path(item.id)
   %td= item.u_name
   %td= item.u_mail
   %td= item.u_phone
   %td= item.address || "//---//"
   %td= item.comment || "//---//"
   %td= I18n.l item.created_at

