.breadcrumb
 = render :partial => 'main/breadcrumb', :locals=>{:from => @section}
.up_paginator
 = will_paginate(@products)
- @products.each do |p|
 .product_image
  = link_to(image_tag(p.cover(:small)), product_path(p.id))
  %div{:style=>"padding-left:10px;"}
   = form_tag cart_index_path, {:method=>:post, :remote=>true, :format=>'js'} do
    %div{:id=>"product_notice_#{p.id}"}
    = hidden_field_tag :product, p.id
    %select{:id=>"ammount", :name=>"amount"}
     -(1..9).each do |i|
      %option{:value=>i.to_s} #{i.to_s}
    = submit_tag "Купить", :class=>"submit"
 %div
  %h3= link_to p.name, product_path(p.id)
  #{p.short_descr}
  %div{:style=>"padding-top:15px;"}
   - unless p.in_store?
    %span.in_store Нет на складе
  .price Цена #{p.current_price(current_user)} руб.
  .product_delim{:class=>"clear"}
= will_paginate(@products)
