%div{:style=>"text-align:right;"}Здравствуйте, наш горячо любимый клиент!
%p Спасибо Вам за Ваш заказ. Он принят и поступил в обработку. Проверьте, пожалуйста, информацию о заказе.
%table
 %tr
  %th Наименование
  %th Количество
  %th Цена 
  %td Стоимость
 - dscnt = 0.0
 - sum = 0.0
 - @purchase.cart_items.each do |cart|
  %tr
   %td #{cart.product.name}
   %td #{cart.amount}
   - prc = cart.product.price
   - cprc = cart.product.current_price(defined?(current_user) ? current_user : nil)
   %td #{cprc}
   %td #{cart.amount * cprc}
   - dscnt += (prc * cart.amount) - (cprc * cart.amount)
   - sum += cprc * cart.amount
 - if dscnt > 0
  %tr
   %td{:colspan=>4} Ваша скидка составила: #{dscnt} рублей
 %tr
  -# %td{:colspan=>4} Итого к оплате: #{@purchase.cart_items.inject(0.0){|res, cart| res + (cart.amount * cart.product.price) } } рублей
  %td{:colspan=>4} Итого к оплате: #{sum} рублей
%p Вы хотите узнать больше о наших скидках и акциях?
-# Нажмите сюда (ведет ссылка на страницу с акциями)
%p По любым вопросам, связанным с заказом, оплатой или доставкой, напишите нам на почту <a href="mailto:shop@cup-of.ru">shop@cup-of.ru</a>
%p Мы ответим Вам в самые кратчайшие сроки.
%p С уважением, интернет-магазин &laquo;A cup-of&raquo;.

