%h2 Вход
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %p
    = f.label :login, "Логин или адрес электронной почты"
    %br/
    = f.text_field :login
  %p
    = f.label :password, "Пароль"
    %br/
    = f.password_field :password
  - if devise_mapping.rememberable?
    %p
      = f.check_box :remember_me
      = f.label :remember_me, "Запомнить меня"
  %p= f.submit "Войти"
= render :partial => "devise/shared/links"
