!!!
%html
 %head
  %title
   CupOfTea
  = stylesheet_link_tag :all
  = javascript_include_tag :defaults
  = csrf_meta_tag
 %body
  #heading
   %div{:style=>"text-align:center;"}
    %div{:style=>"float:right;"}
     = link_to image_tag('coffee/main-cup-ur.jpg'), coffee_root_path
    %div{:style=>"float:left;"}
     = image_tag('tea/cup-ul-1.jpg')
    %div
     %div
      = link_to image_tag('tea/phone-up.jpg'), contacts_path
     %div
      = link_to image_tag('tea/mail-up.jpg'), 'mailto:'
  %div{:style=>"clear:all;"}
  #left_column{:style=>"float:left;height:100%;"}
  #content 
   = yield
