%div
 = f.label :name, "Название"
 = f.text_field :name
%div
 = f.label :cover, "Фото"
 = f.file_field :cover
%div
 = f.label :price, "Цена"
 = f.text_field :price
%div
 = f.label :in_store, "На складе"
 = f.check_box :in_store
%div
 = f.label :artikul, "Артикул"
 = f.text_field :artikul
%div
 = f.label :description, "Описание"
 = f.text_area :description
%div
 = f.label :short_descr, "Краткое описание"
 = f.text_area :short_descr
%div
 = f.label :priority, "Приоритет"
 = f.text_field :priority
%div
 = f.label :active, "Показывать"
 = f.check_box :active
%div
 = f.label :section_id, "Section"
 = f.select :section_id, options_from_collection_for_select(Section.all, 'id', 'name', @product.section_id)
%div
 = f.label :meta_title, "Заголовок страницы продукта"
 = f.text_field :meta_title
%div
 = f.label :meta_description, "Описание страницы продукта"
 = f.text_field :meta_description
%div
 = f.label :meta_keywords, "Ключевые слова"
 = f.text_field :meta_keywords
%div
 = f.submit "Сохранить"
