.breadcrumb
 = render :partial => 'main/breadcrumb', :locals=>{:from => @product.section}
%div
 %div{:style=>"width:160px;height:200px;float:left;"}
  = link_to image_tag(@product.cover(:small), :style=>"padding: 10px;border:0px;"), image_path(@product.cover(:original)), :class => "lightbox"
  %div{:style=>"padding-left:10px;"}
   %div{:id=>"product_notice_#{ @product.id }"}
   = form_tag cart_index_path, {:method=>:post, :remote=>true, :format=>'js'} do
    = hidden_field_tag :product, @product.id
    %select{:id=>"ammount", :name=>"amount"}
     -(1..9).each do |i|
      %option{:value=>i.to_s} #{i.to_s}
    = submit_tag "Купить", :style=>"margin-left:10px;padding:1px;font:18px bold verdana;color:#00a651;background:transparent;"
 %div
  %h3 #{@product.name}
  ! #{@product.description}
  %div{:style=>"padding-top:15px;color:red;"}
   - unless @product.in_store?
    %span{:style=>"float:right;color:#005826;"} Нет на складе
   Цена #{@product.current_price(current_user)} руб.
  %div{:style=>":height:20px;clear: both;"}
  <script type="text/javascript">
  $(function() {
  $('a.lightbox').lightBox({ imageLoading:'/images/lightbox-ico-loading.gif', imageBtnClose:'/images/lightbox-btn-close.gif', imageBlank:'/images/lightbox-blank.gif'}); // Select all links with lightbox class
  });
  </script>
