!!!
%html
 %head
  %title
   CupOfTea
  = stylesheet_link_tag :all
  = javascript_include_tag :defaults
  = csrf_meta_tag
 %body{:style=>"background-color:#fbebd5;padding:0px;border:0px;margin:0px;"}
  %table{:style=>"width:1008px;cell-spacing:0px;cell-padding:0px;border-spacing:0px;border:0px;"}
   %tr
    %td{:colspan=>3}
     %table{:style=>"height:248px;width:1008px;cell-spacing:0px;cell-padding:0px;border-spacing:0px;background:left top no-repeat url(#{image_path('up-background.jpg')});"}
      %tr
       %td{:style=>"width:*;vertical-align:bottom;padding-bottom:24px;"}
        = form_for :search, :url=>'/search', :html=>{:method=>:get, :style=>""} do |f|
         = f.text_field :q, :class=>"search"
       %td{:style=>"width:319px"}
        %ul.umenu{:style=>"list-style-type:none;"}
         %li
          = link_to "На главную", root_path, :class=>'umenu'
         %li
          = link_to "Наши контакты", contacts_path, :class=>'umenu'
         %li &nbsp;
         %li
          = link_to "Кофе", coffee_root_path, :class=>'umenu'
         %li= link_to "Чай", tea_root_path, :class=>'umenu'
         %li Подарки
         %li Аксессуары
         %li &nbsp;
         %li Регистрация
         %li Личный кабинет
         %li Вопросы и ответы
         %li Доставка и оплата
         %li Новости
   %tr{:style=>"background:url('/images/center-line.jpg') no-repeat;"}
    %td.left_menu{:style=>"font:24px verdana;font-weight:bold;height:43px;vertical-align:top;width:220px;max-width:220px;"}Чай
    %td{:style=>"width:652px;height:152px;background:url(/images/ramka-mordolenta.png);background-position:0px 10px;"}
     .lenta{:style=>"width:100px;"}
    %td{:style=>"vertical-align:top;width:120px;border-left: 1px black;text-align:center;"}
     = image_tag("korzina2.png")
   %tr
    %td{:style=>"width:220px;max-width:220px;border-right:3px black;font:14px verdana;"}
     %ul.lmenu{:style=>"padding-top:-100px;margin-top:-100px;"}
      %li
       = link_to "Ароматизированный чай", section_path(Section.find_by_name('Ароматизированный чай').id)
      %ul.lmenu
       %li
        = link_to "На основе черного", section_path(Section.find_by_name('На основе черного').id) 
       %li
        = link_to "На основе зеленого", section_path(Section.find_by_name('На основе зеленого').id) 
       %li
        = link_to "Смешанные основы", section_path(Section.find_by_name('Смешанные основы').id) 
       %li
        = link_to "Чайные напитки", section_path(Section.find_by_name('Чайные напитки').id) 
       %ul.lmenu
        %li
         = link_to "на основе фруктов", section_path(Section.find_by_name('на основе фруктов').id) 
        %li
         = link_to "на основе руибоса", section_path(Section.find_by_name('на основе руибоса').id) 
        %li
         = link_to "на основе полезных растений", section_path(Section.find_by_name('на основе полезных растений').id) 
        %li
         = link_to "на основе мате и лапачо", section_path(Section.find_by_name('на основе мате и лапачо').id) 
        %li
         = link_to "на основе улуна", section_path(Section.find_by_name('на основе улуна').id) 
      %li
       = link_to "Китайский элитный чай", section_path(Section.find_by_name('Китайский элитный чай').id)
      %ul.lmenu
       %li
        = link_to "Элитный китайский чай в баночках", section_path(Section.find_by_name('Элитный китайский чай в баночках').id) 
       %li
        = link_to "Белый чай", section_path(Section.find_by_name('Белый чай').id) 
       %li
        = link_to "Желтый чай", section_path(Section.find_by_name('Желтый чай').id) 
       %li
        = link_to "Зеленый чай", section_path(Section.find_by_name('Зеленый чай').id) 
       %li
        = link_to "Красный чай", section_path(Section.find_by_name('Красный чай').id) 
       %li
        = link_to "Жасминовый чай", section_path(Section.find_by_name('Жасминовый чай').id) 
       %li
        = link_to "Пуэры", section_path(Section.find_by_name('Пуэры').id) 
       %li
        = link_to "Улуны материковые (китайские)", section_path(Section.find_by_name('Улуны материковые (китайские)').id) 
       %li
        = link_to "Связанный чай", section_path(Section.find_by_name('Связанный чай').id) 
       %li
        = link_to "Традиционные чайные напитки", section_path(Section.find_by_name('Традиционные чайные напитки').id) 
       %li
        = link_to "Элитный чай Тайвань", section_path(Section.find_by_name('Элитный чай Тайвань').id) 
      %li
       = link_to "Плантационный индийский и цейлонский чай", section_path(Section.find_by_name('Плантационный индийский и цейлонский чай').id)
      %ul.lmenu
       %li
        = link_to "Плантационный черный чай Индия", section_path(Section.find_by_name('Плантационный черный чай Индия').id) 
       %li
        = link_to "Плантационный черный чай Цейлон", section_path(Section.find_by_name('Плантационный черный чай Цейлон').id) 
      %li
       = link_to "Фиточа", section_path(Section.find_by_name('Фиточа').id) 
      %li
       = link_to "Чай в пакетиках", section_path(Section.find_by_name('Чай в пакетиках').id) 
      %ul.lmenu
       %li
        = link_to "Чай пакетированный Флёр Деланж", section_path(Section.find_by_name('Чай пакетированный Флёр Деланж').id)
      %li
       = link_to "Японский чай", section_path(Section.find_by_name('Японский чай').id)


    %td{:style=>"width:*;vertical-align:top;"}
     #content
      = yield
    %td{:style=>"width:120px;"}
