!!!
%html
 %head
  %title
   CupOfTea
  = stylesheet_link_tag :all
  = javascript_include_tag :defaults
  = csrf_meta_tag
 %body{:style=>"background-color:#fbebd5;padding:0px;border:0px;margin:0px;"}
  %table{:style=>"width:1008px;cell-spacing:0px;cell-padding:0px;border-spacing:0px;border:0px;"}
   %tr
    %td{:colspan=>3}
     %table{:style=>"height:248px;width:1008px;cell-spacing:0px;cell-padding:0px;border-spacing:0px;background:left top no-repeat url(#{image_path('up-background.jpg')});"}
      %tr
       %td{:style=>"width:*;vertical-align:bottom;padding-bottom:24px;"}
        = form_for :search, :url=>'/search', :html=>{:method=>:get, :style=>""} do |f|
         = f.text_field :q, :class=>"search"
       %td{:style=>"width:319px"}
        %ul.umenu{:style=>"list-style-type:none;"}
         %li
          = link_to "На главную", root_path, :class=>'umenu'
         %li
          = link_to "Наши контакты", contacts_path, :class=>'umenu'
         %li &nbsp;
         %li
          = link_to "Кофе", coffee_root_path, :class=>'umenu'
         %li= link_to "Чай", tea_root_path, :class=>'umenu'
         %li Подарки
         %li Аксессуары
         %li &nbsp;
         %li Регистрация
         %li Личный кабинет
         %li Вопросы и ответы
         %li Доставка и оплата
         %li Новости
   %tr{:style=>"background:url('/images/center-line.jpg') no-repeat;"}
    %td.left_menu{:style=>"font:24px verdana;font-weight:bold;height:43px;vertical-align:top;width:220px;max-width:220px;"}Чай
    %td{:style=>"width:652px;height:152px;background:url(/images/ramka-mordolenta.png);background-position:0px 10px;"}
     .lenta{:style=>"width:636px;height:102px;vertical-align:center;margin-top:19px;margin-bottom:1px;margin-left:15px;margin-right:1px;"}
      - @m_items.each do |mord|
       = image_tag mord.cover(:mord), :style=>"padding:2px;"
    %td{:style=>"vertical-align:top;width:120px;border-left: 1px black;text-align:center;"}
     = image_tag("korzina2.png")
   %tr
    %td{:style=>"vertical-align:top;width:220px;max-width:220px;border-right:3px black;font:14px verdana;"}
     = render :partial => 'sections/left_menu_block', :locals=>{:root => Section.find_by_name('Tea'), :clazz => 'l1'}
     %div
      .lmenu{:style=>"font:24px verdana;font-weight:bold;height:43px;vertical-align:top;width:220px;max-width:220px;"}= link_to 'Кофе', section_path(Section.find_by_name('Coffee'))
      = render :partial => 'sections/left_menu_block', :locals=>{:root => Section.find_by_name('Coffee'), :clazz => 'l1'}
      -#%ul.lmenu{:class=>"l1"}
       %li Barbera
       %ul.lmenu{:class=>"l2"}
        %li молотый 
        %li в зернах
        %li в шоколаде

       %li Кофе Gut от Gutenberg
       %ul.lmenu{:class=>"l2"}
        %li свежеобжаренный
        %li ароматизированный

       %li зеленый кофе в зернаx

       %li Bristot
       %ul.lmenu{:class=>"l2"}
        %li в зернах
        %li молотый

       %li Malongo
       %ul.lmenu{:class=>"l2"}
        %li молотый
        %li в зернах
        %li растворимый

       %li Rombouts
       %ul.lmenu{:class=>"l2"}
        %li в зернах
        %li молотый




    %td{:style=>"width:*;vertical-align:top;"}
     .content
      = yield
    %td{:style=>"width:120px;"}
